* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Harry Potter';
    src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');
  }

body {
    font-family: sans-serif;
    background-color: black;
    
}

h1 {
    font-family: 'Harry Potter';
    color: gold;
    font-size: 30px;
}

p {
    color: gold;
}

 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid purple;
    text-align: center;
    color: black;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: gold;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: lime;
    opacity: 1;
}